[submodule "packages/aic94xx-firmware"]
	path = packages/aic94xx-firmware
	url = https://aur.archlinux.org/aic94xx-firmware.git
[submodule "packages/wd719x-firmware"]
	path = packages/wd719x-firmware
	url = https://aur.archlinux.org/wd719x-firmware.git
[submodule "packages/gnome-shell-extension-system-monitor-git"]
	path = packages/gnome-shell-extension-system-monitor-git
	url = https://aur.archlinux.org/gnome-shell-extension-system-monitor-git.git
[submodule "packages/artha"]
	path = packages/artha
	url = https://aur.archlinux.org/artha.git
[submodule "packages/wordnet"]
	path = packages/wordnet
	url = https://aur.archlinux.org/wordnet.git
[submodule "packages/mozc"]
	path = packages/mozc
	url = https://aur.archlinux.org/mozc.git
[submodule "packages/dropbox"]
	path = packages/dropbox
	url = https://aur.archlinux.org/dropbox.git
[submodule "packages/joplin"]
	path = packages/joplin
	url = https://aur.archlinux.org/joplin.git
[submodule "packages/ckbcomp"]
	path = packages/ckbcomp
	url = https://aur.archlinux.org/ckbcomp.git
[submodule "packages/dxvk-bin"]
	path = packages/dxvk-bin
	url = https://aur.archlinux.org/dxvk-bin.git
[submodule "packages/meshroom"]
	path = packages/meshroom
	url = https://aur.archlinux.org/meshroom.git
[submodule "packages/alice-vision"]
	path = packages/alice-vision
	url = https://aur.archlinux.org/alice-vision.git
[submodule "packages/coin-or-lemon"]
	path = packages/coin-or-lemon
	url = https://aur.archlinux.org/coin-or-lemon.git
[submodule "packages/popsift"]
	path = packages/popsift
	url = https://aur.archlinux.org/popsift.git
[submodule "packages/uncertainty-framework"]
	path = packages/uncertainty-framework
	url = https://aur.archlinux.org/uncertainty-framework.git
[submodule "packages/ceres-solver"]
	path = packages/ceres-solver
	url = https://aur.archlinux.org/ceres-solver.git
[submodule "packages/flann"]
	path = packages/flann
	url = https://aur.archlinux.org/flann.git
[submodule "packages/geogram"]
	path = packages/geogram
	url = https://aur.archlinux.org/geogram.git
[submodule "packages/opengv-git"]
	path = packages/opengv-git
	url = https://aur.archlinux.org/opengv-git.git
[submodule "packages/meshroom-bin"]
	path = packages/meshroom-bin
	url = https://aur.archlinux.org/meshroom-bin.git
[submodule "packages/qownnotes"]
	path = packages/qownnotes
	url = https://aur.archlinux.org/qownnotes.git
[submodule "packages/sooperlooper"]
	path = packages/sooperlooper
	url = https://aur.archlinux.org/sooperlooper.git
[submodule "packages/audiveris"]
	path = packages/audiveris
	url = https://aur.archlinux.org/audiveris.git
[submodule "packages/tegaki-recognize"]
	path = packages/tegaki-recognize
	url = https://aur.archlinux.org/tegaki-recognize.git
[submodule "packages/yay"]
	path = packages/yay
	url = https://aur.archlinux.org/yay.git
